JWT_SECRET=secret
JWT_DURATION=24h

# DB_HOST=localhost          # for: go run (local)
# DB_HOST=db                 # for: docker-compose.yml (with DB container)
# DB_HOST=host.docker.internal  # for: docker-compose.local.yml (host DB)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=identity
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta
DB_MAX_RETRY=3
DB_TIMEOUT=300

ENV=DEV
APP_NAME=identity-service
PRODUCT_NAME=BRICaMS
LOGGER_TAG=identity.dev
LOGGER_OUTPUT=stdout
LOGGER_LEVEL=debug
FLUENTBIT_HOST=0.0.0.0
FLUENTBIT_PORT=24223

GRPC_MAX_CALL_SEND_MESSAGE=400000000
GRPC_MAX_CALL_RECEIVE_MESSAGE=400000000
