# BFF Service Environment Variables
BFF_GRPC_PORT=9090
BFF_HTTP_PORT=3000
IDENTITY_SERVICE_ADDR=localhost:9301
PROFILE_SERVICE_ADDR=localhost:9302
JWT_SECRET=bankease-secret-key
JWT_DURATION=24h
AZURE_SAS_URL=
AZURE_CONTAINER=images
ENV=DEV
APP_NAME=bff-service
PRODUCT_NAME=BankEase
LOGGER_OUTPUT=stdout
LOGGER_LEVEL=debug
