DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=saving
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

HTTP_PORT=8081
GRPC_PORT=9303

ENV=DEV
APP_NAME=saving-service
PRODUCT_NAME=BRICaMS
LOGGER_TAG=saving.dev
LOGGER_OUTPUT=stdout
LOGGER_LEVEL=debug
FLUENTBIT_HOST=0.0.0.0
FLUENTBIT_PORT=24223
