JWT_SECRET=secret

DB_HOST=localhost
DB_PORT=5435
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=payment
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta
DB_MAX_RETRY=3
DB_TIMEOUT=300

ENV=DEV
APP_NAME=payment-service
PRODUCT_NAME=BRICaMS
LOGGER_TAG=payment.dev
LOGGER_OUTPUT=stdout
LOGGER_LEVEL=debug
FLUENTBIT_HOST=0.0.0.0
FLUENTBIT_PORT=24223

GRPC_MAX_CALL_SEND_MESSAGE=400000000
GRPC_MAX_CALL_RECEIVE_MESSAGE=400000000
